/* Define CSS variables */
:root {
    --primary-color: #2EAAFF;
    --secondary-color: #2B4B20;
    --accent1-color: #CC630E;
    --accent2-color: #374E5A;
    --background-color: #ffffff;
    --text-color: #333333;

    --heading-font: 'Noto Serif', serif;
    --paragraph-font: 'Noto Serif', serif;
}

/* General styles */
html {
    font-size: 16px;
}

body {
    padding: 15px;
    margin: 0;
    font-family: var(--paragraph-font);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

/* Heading and paragraph styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

article p {
    color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size: 1rem;
}

/* Link styles */
a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.social-media a {
    text-decoration: none;
}

/* Hero section styles */
.hero {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: var(--accent1-color);
    padding: 10px;
    width: 100%;
    text-align: center;
    line-height: normal;
    box-shadow: 0 0 20px rgba(198, 110, 9, 0.5);
    font-size: 2.25rem;
    z-index: 1;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Article content styles */
.article-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 80%;
    max-width: 900px;
    display: flex;
    align-items: center;
    border-radius: 3%;
}

.article-content img.happyclient {
    width: 30%;
    max-width: 30%;
    margin-left: auto;
    margin-right: 10px;
}

/* Logo styles */
.logo img {
    width: 120px;
    height: auto;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* History section styles */
.history-section {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column; /* Cambia el flujo a columna para alinear verticalmente */
    align-items: center; /* Centra horizontalmente en el contenedor */
}

.history-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.history-section p {
    font-size: 1.125rem;
    line-height: 1.6;
}

.history-section img {
    width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 20px; /* Agrega espacio debajo de la imagen */
}

/* Adventures section styles */
.adventures-section {
    padding: 40px;
}

.adventures-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

figure {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

figure:last-child {
    margin-right: 0;
}

img {
    width: 17%;
    height: 170px;
    border-radius: 8px;
    margin-right: 20px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    font-size: 1rem;
    color: #888;
}

/* Footer styles */
footer {
    background-color:#333333;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .sociallinks a {
    margin: 0 10px;
    display: inline-block;
}

footer .sociallinks img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .article-content {
        width: 95%;
        padding: 10px;
    }

    .history-section, .adventures-section {
        padding: 20px;
    }

    .adventures-container {
        flex-direction: column-reverse;
    }

    figure {
        margin-right: 0;
        margin-bottom: 20px;
    }

    img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    img:last-child {
        margin-bottom: 0;
    }
}

.history-content {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

.history-text {
    flex: 1; /* El texto ocupa todo el espacio disponible restante */
}

.history-content img {
    width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
    margin: 0 20px; /* Espacio entre la imagen y el texto */
}





