/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

/* Define CSS variables */
:root {
    --primary-color: #2EAAFF;
    --secondary-color: #2B4B20;
    --accent1-color: #CC630E;
    --accent2-color: #374E5A;

    --heading-font: 'Noto Serif', serif;
    --paragraph-font: 'Noto Serif', serif;
}

/* General styles */
body {
    margin-left: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

/* Heading and paragraph styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

article p {
    color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size: 16px;
}

/* Link styles */
a {
    color: var(--secondary-color);
}

.social-media a {
    text-decoration: none;
}

/* Hero section styles */
.hero {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent1-color);
    padding: 10px;
    width: 100%;
    text-align: center;
    line-height: normal;
    box-shadow: 0 0 20px rgba(198, 110, 9, 0.5);
    font-size: 36px;
    z-index: 1;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Article content styles */
.article-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 80%;
    max-width: 900px;
    display: flex;
    align-items: center;
    border-radius: 3%;
}

.article-content img.happyclient {
    width: 30%;
    max-width: 30%;
    margin-left: auto;
    margin-right: 10px;
}

/* Logo styles */
.logo img {
    width: 140px;
    height: auto;
}
